* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #458FF6;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*------Header-------*/
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    /* margin-bottom: 80px; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
}

@media (max-width:440px) {
    .header .main-nav>li>a {
        font-size: 15px;
    }

    .logo {
        font-size: 25px;
    }
}

@media (max-width: 394px) {
    .header .active3 {
        display: none;
    }
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a::before {
    content: "";
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    left: -100%;
    bottom: 0;
    transition: 0.3s;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

/*------End Header-------*/

/*-----header js---------*/

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 50px;
    z-index: 2000;
}

.popup-box h1 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 30px;
    color: var(--main-color);
}



.popup-box input,
.popup-box textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 22px;

}

@media (max-width: 400px) {

    .popup-box input,
    .popup-box textarea {
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 13px;
        width: 170px;
    }
}

.popup-box input:focus,
.popup-box textarea:focus {
    outline-color: var(--main-color);
}

.popup-box textarea {
    padding: 30px 12px;
    width: 235px;
}

.popup-box .icon {
    font-size: 40px;
    color: var(--main-color);
    margin-right: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
    display: block;
}

.popup-box .link {
    background-color: var(--main-color);
    padding: 5px 30px;
    color: white;
    margin-left: 100px;
}


.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
    border-radius: 50%;
}

.popup-box .active2 {
    border: none;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: fit-content;
    width: 100px;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}

.popup-box .active2 .popup-box .active2:hover {
    cursor: pointer;
    background-color: var(--main-color-alt);
}


/*------End Header js-------*/

/*--------landing--------*/
.landing {
    position: relative;
}

.image img {
    width: 100%;
    height: 350px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);

}

.landing h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 50px;
    z-index: 2;

}

@media (max-width: 1115px) {
    .landing h1 {
        top: 30%;
        left: 26%;
        color: white;
        font-size: 45px;
    }
}

@media (max-width: 960px) {
    .landing h1 {
        top: 30%;
        left: 21%;
        color: white;
        font-size: 45px;
    }
}

@media (max-width: 880px) {
    .landing h1 {
        top: 30%;
        left: 18%;
        color: white;
        font-size: 45px;
    }
}

@media (max-width: 730px) {
    .landing h1 {
        top: 30%;
        left: 12%;
        color: white;
        font-size: 45px;
    }
}


@media (max-width: 675px) {
    .landing h1 {
        top: 30%;
        left: 18%;
        color: white;
        font-size: 35px;
    }
}

@media (max-width: 560px) {
    .landing h1 {
        top: 30%;
        left: 10%;
        color: white;
        font-size: 35px;
    }
}

/*--------End landing--------*/


/*---Request nurse-----*/

.nurse {
    background-color: rgb(245, 245, 245);
    padding: 40px 0 80px 0;

}

.nurse h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-color);
}

@media (min-width: 600px) {
    .nurse h2 {
        font-size: 30px;
    }
}

.row {
    display: flex;
}

.col-25 {
    width: 15%;
    margin-top: 6px;
}

.col-75 {

    width: 75%;
    margin-top: 6px;
}

input:focus,
textarea:focus,
select:focus {
    outline-color: var(--main-color);
}

.nurse input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
}

.nurse label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.nurse input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 150px;

}

.nurse input[type="submit"] {
    margin: auto;
}

.nurse input[type=submit]:hover {
    background-color: var(--main-color-alt);
}

@media (max-width: 550px) {
    .nurse input[type="submit"] {
        margin-left: 60px;
    }
}

@media (max-width: 450px) {
    .nurse input[type="submit"] {
        margin-left: 30px;
    }
}

@media (max-width: 390px) {
    .nurse input[type="submit"] {
        margin-left: 10px;
        width: 170px;
    }
}


@media (max-width: 550px) {
    .nurseform {
        margin-left: 120px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .col-25 {
        min-width: 90px;
    }

    .col-75 {
        min-width: 250px;
    }

    .nurse label {
        padding: 0;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .nurseform {
        margin-left: 70px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .col-25 {
        min-width: 90px;
    }

    .col-75 {
        min-width: 150px;
    }
}



/*----footer----*/

.footer {
    background-color: #2d3744;
    padding: 50px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-left: 120px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box h3:hover {
    color: var(--main-color);
}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0, 3s
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: 0.3s;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: 0.3s;
    font-size: 16px;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
    padding-left: 40px;
}

.footer .box .line:hover {
    color: white;
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

@media (max-width: 991px) {
    .footer .container {
        padding: 40px;
    }

    .footer .box .line {
        padding: 0;
    }
}

@media (max-width: 636px) {
    .footer .container {
        padding-left: 230px;
    }
}

@media (max-width: 615px) {
    .footer .container {
        padding-left: 200px;
    }
}

@media (max-width: 540px) {
    .footer .container {
        padding-left: 150px;
    }
}

@media (max-width: 480px) {
    .footer .container {
        padding-left: 50px;
    }
}